#this is found from livekit website which is opensource and completely free
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

#this is a brain of ai agent and this is found from google ai studio
GOOGLE_API_KEY=


GMAIL_APP_PASSWORD= not your gmail regular password you can find various videos to get this app password
GMAIL_USER= your email address